# node modules
/backend/node_modules
/frontend/node_modules

# enviroment files
/backend/.env
/frontend/.env

# prisma migrations logs
/backend/prisma/migrations

# dist
/backend/dist
/frontend/build

# db dir for docker 
/db
dump.rdb