doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title #{title}
    body
        header
            nav 
                ul.nav-container
                    li
                        a(href="/" class=(title.toLowerCase() === "shop" ? "active" : "")) Shop
                    li 
                        a(href="/cart" class=(title.toLowerCase() === "cart" ? "active" : "")) Cart
                    li 
                        a(href="/admin/add-product" class=(title.toLowerCase() === "add product" ? "active" : "")) Add Product
                    li 
                        a(href="/admin/product" class=(title.toLowerCase() === "manage products" ? "active" : "")) Manage Products
        main
            div.wrapper